# Enable URL rewriting
RewriteEngine On

# Redirect sitemap.xml to sitemap.php
RewriteRule ^sitemap\.xml$ sitemap.php [L]

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Custom error pages
ErrorDocument 404 /pages/404.php
ErrorDocument 500 /pages/500.php

# Enable compression
<IfModule mod_deflate.c>
    # Force compression for mangled headers.
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|{15}$)$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # Compress all output labeled with one of the following MIME-types
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/javascript
        AddOutputFilterByType DEFLATE application/json
        AddOutputFilterByType DEFLATE application/ld+json
        AddOutputFilterByType DEFLATE application/x-javascript
        AddOutputFilterByType DEFLATE application/x-font-ttf
        AddOutputFilterByType DEFLATE application/x-font-opentype
        AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
        AddOutputFilterByType DEFLATE application/xml
        AddOutputFilterByType DEFLATE font/eot
        AddOutputFilterByType DEFLATE font/opentype
        AddOutputFilterByType DEFLATE font/otf
        AddOutputFilterByType DEFLATE font/ttf
        AddOutputFilterByType DEFLATE image/svg+xml
        AddOutputFilterByType DEFLATE image/x-icon
        AddOutputFilterByType DEFLATE text/css
        AddOutputFilterByType DEFLATE text/html
        AddOutputFilterByType DEFLATE text/javascript
        AddOutputFilterByType DEFLATE text/plain
        AddOutputFilterByType DEFLATE text/xml
        AddOutputFilterByType DEFLATE application/x-httpd-php
    </IfModule>

    # Remove browser bugs
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

    # Compress HTML, CSS, JavaScript, Text, XML and fonts
    AddOutputFilter DEFLATE application/javascript
    AddOutputFilter DEFLATE application/rss+xml
    AddOutputFilter DEFLATE application/vnd.ms-fontobject
    AddOutputFilter DEFLATE application/x-font
    AddOutputFilter DEFLATE application/x-font-opentype
    AddOutputFilter DEFLATE application/x-font-otf
    AddOutputFilter DEFLATE application/x-font-truetype
    AddOutputFilter DEFLATE application/x-font-ttf
    AddOutputFilter DEFLATE application/x-javascript
    AddOutputFilter DEFLATE application/xhtml+xml
    AddOutputFilter DEFLATE application/xml
    AddOutputFilter DEFLATE font/opentype
    AddOutputFilter DEFLATE font/otf
    AddOutputFilter DEFLATE font/ttf
    AddOutputFilter DEFLATE image/svg+xml
    AddOutputFilter DEFLATE image/x-icon
    AddOutputFilter DEFLATE text/css
    AddOutputFilter DEFLATE text/html
    AddOutputFilter DEFLATE text/javascript
    AddOutputFilter DEFLATE text/plain
    AddOutputFilter DEFLATE text/xml

    # Remove browser bugs
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

    # Make sure proxies don't deliver the wrong content
    Header append Vary User-Agent env=!dont-vary
</IfModule>

# Browser caching
<IfModule mod_expires.c>
    ExpiresActive On
    
    # Images
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    
    # Video
    ExpiresByType video/webm "access plus 1 year"
    ExpiresByType video/mp4 "access plus 1 year"
    ExpiresByType video/mpeg "access plus 1 year"

    # Fonts
    ExpiresByType font/ttf "access plus 1 year"
    ExpiresByType font/otf "access plus 1 year"
    ExpiresByType font/woff "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
    ExpiresByType application/font-woff "access plus 1 year"
    ExpiresByType application/font-woff2 "access plus 1 year"
    ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
    
    # CSS, JavaScript
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType text/javascript "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType application/x-javascript "access plus 1 year"
    
    # Others
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType application/json "access plus 0 seconds"
    ExpiresByType application/ld+json "access plus 0 seconds"
    
    # Default
    ExpiresDefault "access plus 2 days"
</IfModule>

# Add Cache-Control headers
<IfModule mod_headers.c>
    # 1 YEAR
    <FilesMatch "\.(ico|gif|jpg|jpeg|png|webp|flv|pdf|svg|swf)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    # 1 YEAR - fonts
    <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    # 1 YEAR - css and js
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    # NEVER CACHE - notice the extra directives
    <FilesMatch "\.(html|htm|php|json|jsonld)$">
        Header set Cache-Control "max-age=0, private, no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </FilesMatch>
</IfModule>

# Redirect from clean URLs to actual PHP files
RewriteRule ^promovare-google-ads-promovare-online/?$ pages/promovare-google-ads-promovare-online.php [L,NC]
RewriteRule ^contact/?$ pages/contact.php [L,NC]
RewriteRule ^dezvoltare-siteuri-bucuresti/?$ pages/dezvoltare-siteuri-bucuresti.php [L,NC]
RewriteRule ^email-marketing-bucuresti/?$ pages/email-marketing-bucuresti.php [L,NC]
RewriteRule ^termeni-si-conditii/?$ pages/termeni-si-conditii.php [L,NC]
RewriteRule ^politica-cookie/?$ pages/politica-cookie.php [L,NC]
RewriteRule ^politica-confidentialitate/?$ pages/politica-confidentialitate.php [L,NC]
RewriteRule ^resurse-tehnice/?$ pages/resurse-tehnice.php [L,NC]
RewriteRule ^agentie-marketing-online-bucuresti/?$ pages/agentie-marketing-online-bucuresti.php [L,NC]
RewriteRule ^promovare-google-ads/?$ pages/promovare-google-ads.php [L,NC]
RewriteRule ^promovare-social-media/?$ pages/promovare-social-media.php [L,NC]
RewriteRule ^recenzii/?$ pages/recenzii.php [L,NC]
RewriteRule ^seo-optimizare-site/?$ pages/seo-optimizare-site.php [L,NC]
RewriteRule ^dezvoltare-magazin-online/?$ pages/dezvoltare-magazin-online.php [L,NC]
RewriteRule ^portofoliu/?$ pages/portofoliu.php [L,NC]
RewriteRule ^cariere/?$ pages/cariere.php [L,NC]
RewriteRule ^pozitii/co-founder/?$ pages/pozitii/co-founder.php [L,NC]
RewriteRule ^strategii-seo/?$ pages/strategii-seo.php [L,NC]
RewriteRule ^strategii-marketing/?$ pages/strategii-marketing.php [L,NC]
RewriteRule ^servicii-seo/?$ pages/servicii-seo.php [L,NC]
RewriteRule ^marketing-pentru-afaceri-mici/?$ pages/marketing-pentru-afaceri-mici.php [L,NC]